/* Variables */
:root {
  --grid-unit: 1rem; /* 16px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.slide {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
